#{extends 'Secure/layout.html' /}

<div id="login">
	
	<h1>&{'secure.title'}</h1>
        <div id="login_panel">	
            #{form @authenticate()}

                    #{if flash.error}
                            <p class="error">
                                    &{flash.error}
                            </p>
                    #{/if}
                    #{if flash.success}
                            <p class="success">
                                    &{flash.success}
                            </p>
                    #{/if}
                    <div class="login_fields">
                        <div id="username-field" class="field">
                                <label for="username">&{'secure.username'}</label>
                                <input type="text" name="username" id="username" value="${flash.username}" tabindex="1" placeholder="Tên đăng nhập" />
                        </div>
                        <div id="password-field" class="field">
                                <label for="password">&{'secure.password'}</label>
                                <input type="password" name="password" id="password" value="" tabindex="2" placeholder="Mật khẩu"/>
                        </div>
                        <div id="remember-field" class="field" >
                                <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
                                <label for="remember">&{'secure.remember'}</label>
                        </div>
                    </div>
                    <div id="signin-field" class="login_actions">
                        <input type="submit" id="signin" value="&{'secure.signin'}" class="btn primary" tabindex="3" />
                    </div>
            #{/form}
        </div>
</div>