#{extends 'main.html' /}
#{set 'title'}
    &{'XemChiTietCongVanDi'}
#{/set}

<div id="VanBanDi">
    #{if session.get("role").equals(models.User.ROLE.NHAN_VIEN.toString())}
        #{QuanLyCongVanDi.NhanVien_XemCongVanDi CongVanDi:cvd /}
    #{/if}
    #{elseif session.get("role").equals(models.User.ROLE.VAN_THU.toString())}
        #{QuanLyCongVanDi.VanThu_XemCongVanDi CongVanDi:cvd /}
    #{/elseif}
    #{elseif session.get("role").equals(models.User.ROLE.TRUONG_PHONG.toString())||session.get("role").equals(models.User.ROLE.THU_KY.toString())}
        #{QuanLyCongVanDi.TruongPhong_XemCongVanDi CongVanDi:cvd /}
    #{/elseif}
    #{elseif session.get("role").equals(models.User.ROLE.BAN_GIAM_HIEU.toString())}
        #{QuanLyCongVanDi.BGH_XemCongVanDi CongVanDi:cvd /}
    #{/elseif}
</div>

#{QuanLyCongVanDi.comments comments:cvd.comments,cvid:cvd.id/}
